<a href="https://colab.research.google.com/github/cho-jaecheong/google-colab/blob/main/python/%EC%9E%90%EB%A3%8C%ED%98%95/%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Dictionary**

Dictionary는  키:값 쌍으로 데이터 값을 저장하는 데 사용됩니다.

Dictionary는 정렬되어 있고, 변경 가능하며, 중복을 허용하지 않는 컬렉션입니다.

Python 버전 3.7부터 Dictionary는 정렬 되어 있습니다 . Python 3.6 및 이전 버전에서는 Dictionary  정렬되어 있지 않습니다 .

Dictionary 는 중괄호로 작성되며 키와 값이 있습니다.

---

```
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
```

Key와 Value의 쌍 여러 개가 {}로 둘러싸여 있다. 각각의 요소는 Key: Value 형태로 이루어져 있고 쉼표(,)로 구분되어 있다.

In [ ]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
type(dic)
dic

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

다음은 Key로 정숫값 1, Value로 문자열 'hi'를 사용한 예이다.

In [ ]:
a = {1: 'hi'}
a

{1: 'hi'}

또한 다음 예처럼 Value에 리스트도 넣을 수 있다.

In [ ]:
a = {'a': [1, 2, 3]}
a

{'a': [1, 2, 3]}

---
> **딕셔너리에 쌍을 추가해 보기**
```
a[key]=value
```

In [ ]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}


---

> **딕셔너리에 쌍을 삭제해 보기**

```
del a[key]
```

In [ ]:
a = {1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [ ]:
dic = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
dic['name']

dic['phone']

dic['birth']

'1118'



---


파이썬 2.7 버전까지는 a.keys() 함수를 호출하면 dict_keys가 아닌 리스트를 리턴한다. 리스트를 리턴하기 위해서는 메모리 낭비가 발생하는데, 파이썬 3.0 이후 버전에서는 이러한 메모리 낭비를 줄이기 위해 dict_keys 객체를 리턴하도록 변경되었다. 다음에 소개할 dict_values, dict_items 역시 파이썬 3.0 이후 버전에서 추가된 것들이다. 만약 3.0 이후 버전에서 리턴값으로 리스트가 필요한 경우에는 list(a.keys())를 사용하면 된다. dict_keys, dict_values, dict_items 객체는 리스트로 변환하지 않더라도 기본적인 반복 구문(예: for 문)에서 사용할 수 있다.


---

In [ ]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

print(a.keys())

print('-'*40)

print(list(a.keys()))

print('-'*40)

for i in a.keys():
  print(i)

print('-'*40)

for i in list(a.keys()):
  print(i)

dict_keys(['name', 'phone', 'birth'])
----------------------------------------
['name', 'phone', 'birth']
----------------------------------------
name
phone
birth
----------------------------------------
name
phone
birth

In [ ]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
# Value 리스트 만들기
print(a.values())
# 쌍으로 얻기 - items
print(a.items())
# 모두 지우기
a.clear()
print(a)

dict_values(['pey', '010-9999-1234', '1118'])
dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])
{}

---
> **a.get(key) 이용가능**

In [ ]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print(a['name'])
#print(a['age']) # 키가 존재하지 않으면 KeyError 발생
print(a.get('name'))
print(a.get('age')) #키가 존재하지 않아도 오류나지않고 None을 리턴

print(a.get('age','존재하지 않음')) #키가 존재하지 않으면 설정한 값으로

pey
pey
None
존재하지 않음

---
> **해당 Key가 딕셔너리 안에 있는지 조사하기 - in**

In [ ]:
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
print('name' in a)
print('email' in a)

True
False