<a href="https://colab.research.google.com/github/cho-jaecheong/google-colab/blob/main/python/%EC%9E%90%EB%A3%8C%ED%98%95/%EC%A7%91%ED%95%A9(set).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **세트(set)**
세트는 여러 항목을 하나의 변수에 저장하는 데 사용됩니다.

Set은 데이터 컬렉션을 저장하는 데 사용되는 Python의 4가지 내장 데이터 유형 중 하나이며, 나머지 3개는 List , Tuple , Dictionary 이며 각각 품질과 사용법이 다릅니다.

집합은 순서가 없고 , 변경 불가능하며 , 인덱스가 없는 컬렉션입니다 .

* 참고: 설정된 아이템은 변경할 수 없지만, 아이템을 제거하고 새로운 아이템을 추가할 수 있습니다.

집합은 중괄호로 표현합니다.

---

In [1]:
s1 = set([1, 2, 3])
print(s1)
thisset = {"apple", "banana", "cherry"}
print(thisset)

{1, 2, 3}
{'banana', 'cherry', 'apple'}



---



> **교집합(&), 합집합(|), 차집합(-) 구하기**

In [5]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
# 교집합 &
print(s1 & s2)
print(s1.intersection(s2))
# 합집합 |
print(s1 | s2)
print(s1.union(s2))
# 차집합 -
print(s1 - s2)
print(s1.difference(s2))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}

---
> **값 1개 추가하기 - add**

In [6]:
s1 = set([1, 2, 3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

---
> **값 여러 개 추가하기 - update**

In [7]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
print(s1)

{1, 2, 3, 4, 5, 6}

---
> **특정 값 제거하기 - remove**

In [8]:
s1 = set([1, 2, 3])
s1.remove(2)
print(s1)

{1, 3}

In [10]:
l1=[1,2,2,3,3,4,4,5]
s1=set(l1)
print(s1)

{1, 2, 3, 4, 5}